gum/web-app/WEB-INF/applicationContext.xml
gum/web-app/WEB-INF/sitemesh.xml
gum/web-app/WEB-INF/tld/
gum/stacktrace.log
gum/target/
gum/classes/
gum/out/
gum/*.iml
*.tmproj
stacktrace.log
*.DS_Store
.idea/

# web application files
/web-app/WEB-INF

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release file
/*.zip

# older plugin install locations
/plugins
/web-app/plugins
/web-app/WEB-INF/classes

# "temporary" build files
/target

# other
*.iws

