/* Overrides to style.css provided by the Smart Business Template.
====================================================================== */

.twitter-name h3 {
	color: #fff;
	font-size: 18px;
	margin:0;
	line-height: 33px;
	display:inline;
}

.da-slide p.slider-text {
	font-size: 24px;
}

/* Custom Buttons Colors
====================================================================== */

#footer .btn-primary {
	color:#fff !important;
}

/* Google Map
====================================================================== */

#googlemaps img {
	max-width: none;
}

/* All Mobile Sizes (devices and browser)
====================================================================== */

@media only screen and (max-width: 767px) {
	.logo a {
		font-size:22px;
	}

	.btn-primary {
		display:block;
		margin:10px 0;
	}

	#footer {
		padding:20px;
	}

	#footer .title {
		border:none;
		margin-bottom:0;
	}

	#footer .title h3 {
		width:100%;
		margin:0 0 10px 0 !important;
	}

	.navbar .btn-navbar {
		right:15px;
	}

	.brand-subtitle{
		font-size: 20px !important;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
====================================================================== */

@media only screen and (max-width: 479px) {
	.logo a {
		font-size:22px;
	}
}

/* Calendar Styles */

.event {
	margin-top: 15px;
	padding: 20px;
	background: #EEE;
}

.first-event.event {
	border: solid 2px #29A9DF;
}

.container.calendar h2, .container.calendar h3 {
	margin-top: 15px;
}

/* Misc
====================================================================== */

.rounded-corners {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.social-googleplus {
	background: #ffffff url(../images/icons/social/googleplus.png) no-repeat;
}

.social-googleplus-hover {
	background: #ff0000 url(../images/icons/social/googleplus.png) no-repeat;
}

/* Force line break for long links */
.item-description {
	word-wrap:break-word
}